* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#container,
.container {
  max-width: 1440px;
  padding: 0px;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-weight: 200;
  background-color: #1E1E1E;
  scroll-behavior: smooth;
}

.primary__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.primary__title {
  font-size: 35px;
  font-weight: 500;
  opacity: 0.8;
}

.primary-title__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.divide__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
}

.divide__container .divide__line {
  height: 1px;
  width: 50%;
  background-color: #000000;
  opacity: 0.5;
}

.divide__container .divide__circle {
  border-radius: 100%;
  margin: 0 15px;
  width: 18px;
  height: 18px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

.reveal {
  position: relative;
  transform: translate(-100px) rotate(2deg);
  opacity: 0;
  transition: 0.5s all ease;
}

.reveal.scroll {
  transform: translate(0) rotate(0deg);
  opacity: 1;
}

.disable-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

header {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000000;
}

.no-webp header::before {
  background: url(../img/background.jpg) center center no-repeat; }

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: appearance 2s;
          animation: appearance 2s;
  opacity: 0.6;
}

.burger-menu {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.burger-menu .menu-logo-img {
  width: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.burger-menu .menu-logo-img:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.burger-menu .menu-items {
  display: flex;
  gap: 45px;
  margin: 15px 15px 0 0;
}

.burger-menu .menu-items .menu-item {
  font-size: 25px;
  font-weight: 300;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.burger-menu .menu-items .menu-item::after {
  transition: all 0.4s ease-in-out;
  background: none repeat scroll 0 0 #FFFFFF;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  margin: 1px auto 0;
}

.burger-menu .menu-items .menu-item:hover {
  opacity: 0.8;
  transition: 0.4s ease;
}

.burger-menu .menu-items .menu-item:hover::after {
  width: 95%;
}

.burger-menu .burger-btn {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.burger-menu .burger-btn .line {
  opacity: 0.8;
}

.burger-menu .burger-btn .line-main {
  width: 50px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 0 0 10px;
}

.burger-menu .burger-btn .line-split {
  margin-right: 5px;
  display: flex;
  justify-content: end;
}

.burger-menu .burger-btn .line-split::before,
.burger-menu .burger-btn .line-split::after {
  position: relative;
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 0 0 10px;
}

.burger-menu .burger-btn .line-split::after {
  left: 10.4px;
}

.header-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content .header-title-block {
  position: relative;
  text-align: center;
  justify-content: center;
}

.header-content .header-title-block .header-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  justify-content: center;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 3px solid;
  -webkit-animation: blink 0.5s step-end infinite alternate;
          animation: blink 0.5s step-end infinite alternate;
}

.header-content .header-title-block .header-title:last-child {
  margin: 0 auto;
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__container .info__block {
  margin: 20px 0 18px;
  padding: 0 60px;
  color: #FFFFFF;
  border-right: 2px dotted #FFFFFF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.info__container .info__block .info__content {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.info__container .info__block .info__title {
  text-align: center;
  font-weight: 200;
  font-size: 17px;
  opacity: 0.8;
}

.info__container .info__block .info__title::after {
  transition: all 0.4s ease-in-out;
  background: none repeat scroll 0 0 #FFFFFF;
  content: "";
  display: none;
  height: 1px;
  width: 100%;
  margin: 4px auto 3px;
  opacity: 0.8;
}

.info__container .info__block:last-child {
  border-right: none;
}

.me__container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #FFFFFF;
}

.me__container .primary-title__block {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.me__container .primary-title__block .primary__title {
  display: flex;
  align-items: center;
}

.about-me-info__container {
  margin-top: 25px;
  display: flex;
  padding: 50px 5%;
}

.about-me-info__container .about-me__content {
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  color: #1E2939;
}

.about-me-info__container .about-me__photo {
  width: 300px;
  height: 375px;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.4666666667);
}

.contacts__container .contacts-logo {
  opacity: 0.9;
}

.contacts__container .contacts__list {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 30px;
}

.contacts__container .contacts__list .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 12px;
  box-shadow: -2px 8px 5px 2px rgba(0, 0, 0, 0.368627451);
  cursor: pointer;
  transition: all 0.4s;
}

.contacts__container .contacts__list .contact:hover {
  transform: translate(0, -6px);
  transition: all 0.4s;
  background: #000;
}

.contacts__container .contacts__list .contact:hover .contact__img {
  fill: #fff;
  transition: all 0.4s;
}

.contacts__container .contacts__list .contact:hover.instagram {
  background: #E1306C;
  transition: all 0.4s;
}

.contacts__container .contacts__list .contact:hover.facebook {
  background: #3B5998;
  transition: all 0.4s;
}

.contacts__container .contacts__list .contact:hover.telegram {
  background: #0088cc;
  transition: all 0.4s;
}

.contacts__container .contacts__list .contact__img {
  width: 40px;
  fill: #000;
}

.skills__container {
  width: 100%;
  height: 600px;
  display: flex;
  color: #FFFFFF;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.no-webp .skills__container::before {
  background: url(../img/skills_bg.png) bottom center no-repeat; }

.skills__container::before {
  content: "";
  position: absolute;
  opacity: 0.4;
  width: 100%;
  height: 600px;
  left: 0;
  right: 0;
}

.skills__container .skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skills__container .skills__title .skills-img {
  width: 80px;
}

.skills__container .skills__title .skills-title__text {
  font-size: 35px;
  font-weight: 500;
}

.skills__container .skills__list {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20%;
}

.skills__container .skills__list .skills__item {
  font-size: 23px;
  font-weight: 100;
  line-height: 45px;
  text-align: left;
}

.projects__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects__container .projects-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.projects__container .projects-empty .projects-empty__title {
  font-weight: 200;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

@media (max-width: 1449.98px) {
  #container,
  .container {
    max-width: 1450px;
  }
}

@media (max-width: 1199.98px) {
  .about-me-info__container .about-me__content {
    font-size: 17px;
    padding: 20px 20px;
  }

  .about-me-info__container .about-me__photo {
    width: 250px;
    height: 310px;
  }
}

@media (max-width: 991.98px) {
  #container,
  .container {
    max-width: 992px;
  }

  .burger-menu .menu-items {
    gap: 35px;
  }

  .burger-menu .menu-items .menu-item {
    font-size: 22px;
  }

  .info__container .info__block {
    padding: 0 40px;
  }

  .info__container .info__block .info__content {
    font-size: 17.5px;
  }

  .info__container .info__block .info__title {
    font-size: 14px;
  }

  .about-me-info__container .about-me__photo {
    margin: 10px auto;
  }
}

@media (max-width: 767.98px) {
  #container,
  .container {
    max-width: 768px;
  }

  .primary-title__block {
    margin: 0;
  }

  .burger-menu .menu-items {
    gap: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-flow: column;
    position: fixed;
    z-index: 1;
    background-color: #1E1E1E;
    justify-content: center;
    align-items: center;
    transition: height 0.5s;
  }

  .burger-menu .menu-items:not(.active) {
    height: 0;
  }

  .burger-menu .menu-items .menu-item {
    font-size: 25px;
    margin: 25px auto;
    transition: opacity 1s;
  }

  .burger-menu .menu-items .menu-item:not(.active) {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .burger-menu .burger-btn {
    display: block;
    margin: 10px 10px 0 0;
  }

  .burger-menu .burger-btn.active .line {
    opacity: 1;
    transition: opacity 1s;
  }

  .burger-menu .burger-btn.active .line-split {
    margin-left: 13px;
  }

  .burger-menu .burger-btn.active .line-split::before {
    transition: transform 1s, opacity 1.5s;
    opacity: 0;
    transform: translate(-2px, 1px) translateX(-22px);
  }

  .burger-menu .burger-btn.active .line-split::after {
    transition: transform 1s, opacity 1.5s;
    opacity: 0;
    transform: translate(2px, 1px) translateX(22px);
  }

  .burger-menu .burger-btn.active .line-main:first-child {
    transition: transform 0.5s;
    transform: rotate(-45deg) translate(-1px, 22px);
  }

  .burger-menu .burger-btn.active .line-main:last-child {
    transition: transform 0.5s;
    transform: rotate(45deg) translate(1px, -20px);
  }

  .burger-menu .burger-btn:not(.active) .line-split::before {
    transition: transform 1s, opacity 1.5s;
    opacity: 1;
    transform: translate(2px, -1px) translateX(22px);
  }

  .burger-menu .burger-btn:not(.active) .line-split::after {
    transition: transform 1s, opacity 1.5s;
    opacity: 1;
    transform: translate(-4px, -1px) translateX(-22px);
  }

  .burger-menu .burger-btn:not(.active) .line-main:first-child {
    transition: transform 0.5s;
    transform: rotate(0deg) translate(-1px, -1px);
  }

  .burger-menu .burger-btn:not(.active) .line-main:last-child {
    transition: transform 0.5s;
    transform: rotate(0deg) translate(-1px, 0);
  }

  .header-content .header-title-block .header-title {
    font-size: 30px;
  }

  .info__container {
    flex-direction: column;
    margin: 10px 0 20px;
  }

  .info__container .info__block {
    border-right: none;
    margin: 15px auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .info__container .info__block .info__title::after {
    display: block;
  }

  .info__container .info__block {
    padding: 0;
  }

  .info__container .info__block .info__content {
    font-size: 23px;
  }

  .info__container .info__block .info__title {
    font-size: 17px;
  }

  .about-me-info__container {
    flex-direction: column;
    margin: 0;
    padding: 30px 5%;
  }

  .about-me-info__container .about-me__content {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__container .contacts__list {
    gap: 50px;
    padding: 30px 0 30px;
  }

  .skills__container {
    flex-direction: column;
    gap: 0;
  }

  .skills__container .skills__title {
    background-color: #1E2939;
    padding: 10px 60px;
    border-radius: 20px;
  }

  .skills__container .skill__block {
    display: flex;
    flex-direction: column;
  }

  .skills__container .skill__block:last-child {
    margin-top: 10px;
  }

  .skills__container .skill__block:not(.active) .skills__list {
    height: 0px;
    opacity: 0;
    transition: height 0.5s;
  }

  .skills__container .skill__block:not(.active) .skills__list .skills__item {
    height: 0px;
    transition: height 0.3s;
  }

  .skills__container .skill__block.active .skills__title {
    background-color: #121820;
  }

  .skills__container .skill__block .skills__list {
    margin: 0 auto;
    height: 340px;
    opacity: 1;
    transition: height 0.3s, opacity 0.8s;
    width: 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(18, 24, 32, 0.6509803922);
    padding: 0 40px;
  }

  .skills__container .skill__block .skills__list .skills__item {
    font-size: 23px;
    margin: 0 10px;
  }

  .skills__container .skills__title .skills-img {
    width: 55px;
  }

  .projects__container .projects-empty .projects-empty__title {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .contacts__container .contacts__list {
    flex-direction: column;
  }
}

@media (max-width: 467.98px) {
  #container,
  .container {
    max-width: none;
  }

  .header-content .header-title-block .header-title {
    font-size: 24px;
  }

  .info__container .info__block .info__content {
    font-size: 20px;
  }

  .info__container .info__block .info__title {
    font-size: 14px;
  }

  .about-me-info__container .about-me__content {
    font-size: 15px;
    line-height: 20px;
  }

  .projects__container .projects-empty .projects-empty__title {
    font-size: 18px;
  }
}

.webp header::before { background: url(../img/background.webp) center center no-repeat; }

.webp .skills__container::before { background: url(../img/skills_bg.webp) bottom center no-repeat; }